# Dependencies
node_modules

# Production
dist
*.local

# Environment
.env

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Logs
*.log
logs

# Turbo
.turbo

# Testing
coverage

# Database

